@import "@fontsource/open-sans"; 
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/400-italic.css"; 
@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./colors.scss";
@import "./typography.scss";

html{
    margin: 0px;
    padding: 0px;
    color: $dark;
}
body{
    font-family: "Open Sans";
    background-color: $background;
}

.text-primary{
    color: $primary !important;
}

.no-decoration{
    text-decoration: none;
}