h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 87.16px;
    @media screen and (max-width:768px) {
        font-size: 32px;
        line-height: 43.58px
    }
}
.h4{
    font-weight: 700;
    font-size: 28px;
    line-height: 29.96px;
}

.title-1{
    font-weight: 700;
    font-size: 22px;
    line-height: 29.96px;
}
.title-2{
    font-weight: 700;
    font-size: 20px;
    line-height: 29.96px;
}

.sub-title-1{
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
}

.body-1{
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
    @media screen and (max-width:768px) {
        font-size: 14px;
        line-height: 21px
    }
}

.caption{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    @media screen and (max-width:768px) {
        font-size: 14px;
        line-height: 21px
    }
}