.h4{
    font-weight: 700;
    font-size: 28px;
    line-height: 29.96px;
}

.title-1{
    font-weight: 700;
    font-size: 22px;
    line-height: 29.96px;
}
.title-2{
    font-weight: 700;
    font-size: 20px;
    line-height: 29.96px;
}

.sub-title-1{
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
}

.body-1{
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
}