@import "../../../public/styles/colors.scss";

.button-primary{
    background-color: $primary !important;
    color: $white !important;
    transition: all 0.2s !important;
    &:hover{
        background-color: $primary-dark !important;
    }
}

.button-secondary{
    background-color: inherit !important;
    color: $primary !important;
    border: 1px solid $primary !important;
    &:hover{
        background-color: $primary !important;
        color: $white !important;
    }
}